.center {
    margin:auto;
}

#reviewer {
    width: 800px;
    margin: auto;
    background-color: #C0C0C0;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    padding: 10px;
}

.button {
    width:300px;
    height:20px;
    background-color:lightgreen;
    border: 2px solid;
    border-radius: 25px;
    text-align:center;
    display:inline-block;
}
.close {
    width:30px;
    height:20px;
    background-color:gold;
    position: relative;
    left:269px;
    bottom: 19px;
    border: 1px solid;
    border-radius: 15px;
    text-align:center;
}
