input.signature {
	width: 100%;
}

table {
	border-spacing: 10px 0px;
}

.checkbox {
	width: 10px;	
}

#consentForm {
	width: 800px;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin:auto;
}

#instructions {
	width: 800px;
	margin:auto;
}